<h4>
  Input only
</h4>

<div class="row">
  <div class="col-sm-3">
      <input
        class="form-control datetimepicker-input"
        [(ngModel)]="date"
        [options]="options"
        NgTempusdominusBootstrapInput
        type="text" class="form-control"
      />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="highlight">
      <pre><code  class="html">&lt;div class="row"&gt;
  &lt;div class="col-sm-3"&gt;
      &lt;input
        class="form-control datetimepicker-input"
        [(ngModel)]="date"
        [options]="options"
        NgTempusdominusBootstrapInput
        type="text" class="form-control"
      /&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>
  </div>
</div>
