<h4>
  Inline datetimepicker
</h4>
<div class="row">
  <div class="col">
    <br/>
    <div class="form-group">
      <div class="row">
          <div class="col-md-8">
              <div NgTempusdominusBootstrapInput
              [(ngModel)]="dateInline"
              [options]="{inline: true, sideBySide: true}"></div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>Code:</h5>
    <br/>
    <pre>
      <code class="html">
        &lt;div class="row"&gt;
          &lt;div class="col-md-8"&gt;
              &lt;div NgTempusdominusBootstrapInput
              [(ngModel)]="dateInline"
              [options]="&#123;inline: true, sideBySide: true&#125;"&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>
  </div>
</div>